In [37]:
import pandas as pd
data = pd.read_csv("marathon2019.csv")
data.head()

   place          participant              city   bib finish_time chip_time
0    NaN  Зикрилло Маматкулов           Ташкент  1103    02:28:34  02:28:31
1    NaN      Амир Байтуканов  Усть-каменогорск  1202    02:34:49  02:34:49
2    NaN       Алексей Ширшов          Оренбург   491    02:34:57  02:34:57
3    NaN     Николай Григоров           Барнаул   492    02:36:51  02:36:51
4    NaN   Ержан Джанарстанов            Алматы   768    02:38:59  02:38:59

In [38]:
#del data['place']

In [39]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1327 entries, 0 to 1326
Data columns (total 6 columns):
place          0 non-null float64
participant    1327 non-null object
city           1279 non-null object
bib            1327 non-null int64
finish_time    1327 non-null object
chip_time      1327 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 62.3+ KB

In [40]:
#data['city'].unique().tolist()

In [41]:
#len(data['city'].unique().tolist())

In [42]:
data = data[data.chip_time != '--:--:--']

In [43]:
time_list = data['chip_time'].tolist()

time_mins = []
for i in time_list:
    h, m, s = i.split(':')
    math = (int(h) * 3600 + int(m) * 60 + int(s))/3600
    time_mins.append(math)

#print(time_mins)

In [44]:
data['Runner_hours'] = time_mins
data.head()

,place,participant,city,bib,finish_time,chip_time,Runner_hours
0,NaN,Зикрилло Маматкулов,Ташкент,1103,02:28:34,02:28:31,2.475278
1,NaN,Амир Байтуканов,Усть-каменогорск,1202,02:34:49,02:34:49,2.580278
2,NaN,Алексей Ширшов,Оренбург,491,02:34:57,02:34:57,2.582500
3,NaN,Николай Григоров,Барнаул,492,02:36:51,02:36:51,2.614167
4,NaN,Ержан Джанарстанов,Алматы,768,02:38:59,02:38:59,2.649722

In [45]:
data['Runner_hours'].describe()

count    1102.000000
mean        4.410630
std         0.903428
min         0.263333
25%         3.825278
50%         4.427917
75%         5.047569
max         6.111944
Name: Runner_hours, dtype: float64

In [46]:
data[data.Runner_hours == 0.263333]

Empty DataFrame
Columns: [place, participant, city, bib, finish_time, chip_time, Runner_hours]
Index: []

In [47]:
data['Runner_hours'].min()

0.2633333333333333

In [48]:
data.min()

place                       NaN
participant     ALIBEK KERTAYEV
bib                           2
finish_time            00:15:48
chip_time              00:15:48
Runner_hours           0.263333
dtype: object

In [49]:
data = data[data.chip_time != '00:15:48']

In [50]:
data = data[data.Runner_hours > 2.0]
data.head()

,place,participant,city,bib,finish_time,chip_time,Runner_hours
0,NaN,Зикрилло Маматкулов,Ташкент,1103,02:28:34,02:28:31,2.475278
1,NaN,Амир Байтуканов,Усть-каменогорск,1202,02:34:49,02:34:49,2.580278
2,NaN,Алексей Ширшов,Оренбург,491,02:34:57,02:34:57,2.582500
3,NaN,Николай Григоров,Барнаул,492,02:36:51,02:36:51,2.614167
4,NaN,Ержан Джанарстанов,Алматы,768,02:38:59,02:38:59,2.649722

In [51]:
data['Runner_hours'].describe()

count    1091.000000
mean        4.440514
std         0.855353
min         2.070556
25%         3.846944
50%         4.440556
75%         5.052222
max         6.111944
Name: Runner_hours, dtype: float64

In [52]:
data.min()

place                       NaN
participant     ALIBEK KERTAYEV
bib                           2
finish_time            02:04:58
chip_time              02:04:14
Runner_hours            2.07056
dtype: object

In [53]:
data[data.chip_time == '02:04:14']

      place    participant    city  bib finish_time chip_time  Runner_hours
1083    NaN  Гайдар Утешев  Алматы  996    02:04:58  02:04:14      2.070556